
APP_ENV=development
APP_DEBUG=true
APP_URL=https://ieadmon.iga.edu/requi/

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=bd_prueba
DB_USERNAME=root
DB_PASSWORD=
DB_LOG_QUERIES=false


DB_TEST_DATABASE=bd_prueba_test


AZURE_AUTH_ENABLED=true
AZURE_CLIENT_ID=32170b17-027f-4c5f-9f5e-bd87983e40ac
AZURE_CLIENT_SECRET=your-azure-client-secret
AZURE_TENANT=common
AZURE_REDIRECT_URI=


MAIL_ENABLED=true
MAIL_FROM_ADDRESS=noreply@iga.edu
MAIL_FROM_NAME="Sistema de Requisiciones"
MAIL_TEST_MODE=true
MAIL_TEST_RECIPIENT=bgutierrez@sp.iga.edu


DB_ENCRYPTION_KEY=

CACHE_DRIVER=file
CACHE_TTL=3600


SESSION_LIFETIME=120
SESSION_SECURE=false


LOG_LEVEL=debug
LOG_MAX_FILES=30
